body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  #container {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    transition: background-color 0.5s, color 0.5s;
  }
  
  #container.ligado {
    background-color: #fff8b0;
    color: black;
  }
  
  img {
    cursor: pointer;
    width: 150px;
    height: auto;
    transition: transform 0.3s;
  }
  
  img:hover {
    transform: scale(1.1);
  }
  
  #conteudo {
    display: none;
    margin-top: 20px;
  }
  
  #container.ligado #conteudo {
    display: block;
  }
